<section ng-repeat="race in r" class="new-elex">
	<form class="oneElex" name="ElexForm1" id="elex1" action="" ng-submit="addRace()" novalidate>
		<div class="form-group">
			<label for="raceName">Race Name</label>
			<input id="raceName" type="text" ng-model="race.raceName"/>
		</div>
		<div class="form-group">
			<label for="raceSeats">Seats</label>
			<input id="raceSeats" type="number"  ng-model="race.raceSeats"/>
		</div>
		<div class="form-group">
			<label for="precinctsRep">Precincts Reporting</label>
			<input id="precinctsRep" type="number" ng-model="race.precinctsRep" />
		</div>
		<div class="form-group">
			<label for="precinctsTotal">Total Precincts</label>
			<input id="precinctsTotal" type="text"  ng-model="race.precinctsTotal "/>
		</div>
		<div class="form-group">
			<label for="isOver">Is the race over?</label>
			<input id="isOver" type="checkbox"  ng-model="race.isOver"/>
		</div>
		<div class="form-group">
			<label for="allVotes">Total Votes</label>
			<input id="allVotes" type="number" disabled ng-model="race.totalVotes"/>
			<button id="calcVotes" type="button" class="btn btn-primary">Calculate Total</button>
		</div>
		<div class="form-group">
			<label for="updatedTime">Last Update</label>
			<input id="updatedTime" type="text" disabled ng-model="race.updated"/>
		</div>
		<h1>Candidates</h1>
		<div class="oneElexCands">
			<div class="oneCandidate form-group" ng-repeat="can in race.candidates">
				<button type="button" id="addCandidates_elex1" ng-click="addCandidate()" class="addCandidates btn btn-default">Add Candidate</button>
				<label for="candidateId">Id</label>
					<input class="candidateId" type="number" ng-model="can.candidateId" disabled />
				<label for="candidateFirstName">First Name</label>
					<input class="candidateFirstName" placeholder="Enter Candidate info" ng-model="can.firstName" type="text" />
				<label for="candidateLastName">Last Name</label>
					<input class="candidateLastName" ng-model="can.lastName" type="text" />
				<label class="candidateParty">Party</label>
					<input id="candidateParty" ng-model="can.party" type="text" />
				<label for="candidateVotes">Votes</label>
					<input class="candidateVotes" ng-model="can.voteTotal" type="number" />
				<button class="removeCandidate" type="button" class="btn btn-danger">Remove This Candidate</button>
			</div>
		</div>
		<button type="submit" onclick="" id="submitRace" class="btn btn-success" ng-disabled="myform.$invalid">Update race</button>
		</form>


		<div id="updatedELection"></div>
	<script type="text/javascript">	
		/*$(document).ready(function() {
		    var canWrapper         	= $(".oneElexCands"); //Fields canWrapper
		    var addButton      		= $(".addCandidates"); //Add candidate button ID
		    var removeButton 		= $(".removeCandidate"); // remove candidate button class
		    var canCount 			= 100; //initlal text box count
		    var allRaceCands		= []; // array all candidates in race for calculations
		    var totalVoteCount		= ""; 
		    $(addButton).click(function(e){ //on add input button click
		        e.preventDefault();
		        canCount++; //text box increment
		        $(canWrapper).append('<div id="candidate_'
		      	+ canCount +
		      	'"class="oneCandidate form-group">'+
		      	'<label for="candidateId">Id</label>'+
				'<input id="candidateId" type="number" ng-model="can'+ canCount +'" value="'
				+ canCount +
				'" disabled/>'+
				'<label for="candidateFirstName">First Name</label>'+
				'<input id="candidateFirstName" type="text" ng-model="can'+ canCount +'fname" />'+
				'<label for="candidateLastName">Last Name</label>'+
				'<input id="candidateLastName" type="text" ng-model="can'+ canCount +'lname" />'+
				'<label for="candidateParty">Party</label>'+
				'<input id="candidateParty" type="text" ng-model="can'+ canCount +'party" />'+
				'<label for="candidateVotes">Votes</label>'+
				'<input id="candidateVotes" type="number" ng-model="can'+ canCount +'votes" />'+
				'<button class="removeCandidate" type="button" class="btn btn-danger">'
				+'Remove This Candidate</button></div>');
		    });
		$(canWrapper).on("click",'.removeCandidate', function(e){ //user click on remove text
		    e.preventDefault();
		        if (confirm("Are you sure you want to delete ths candidate? \n THIS CANNOT BE UNDONE!")){ 
			        $(this)
			        .parent('div.oneCandidate')
			        .remove();
			        canCount--
		    	};
			});
		}); //document ready*/
	</script>

</section>