<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="elexApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Data</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- CDN LOADS -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="javascripts/lib/angular/angular.js"></script>
  <script src="javascripts/lib/angular/angular-ui-router.js"></script>
  <script src="javascripts/lib/angular/angular-animate.min.js"></script>
  <script type="text/javascript" src="javascripts/chance.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>
  <script type="text/javascript" src="javascripts/lib/ui-bootstrap-tpls-0.13.0.min.js"></script>
<!-- END CDN LOADS -->
<!-- MY LOADS -->

  <script src="javascripts/angularApp.js"></script>
  <script src="javascripts/controllers/authorization.js"></script>
  <script src="javascripts/controllers/resetcontrol.js"></script>
  <script src="javascripts/services/authentication.js"></script>
  <script src="javascripts/services/resetter.js"></script>
  <script src="javascripts/services/getAllElections.js"></script>
  <script src="javascripts/controllers/nav.js"></script>
  <!-- <script src="javascripts/services/getRaces.js"></script> -->
  <script src="javascripts/controllers/electionselect.js"></script>
  <script src="javascripts/controllers/backend.js"></script>
  <script src="javascripts/controllers/frontend.js"></script>
  <script src="javascripts/controllers/status.js"></script>


  <!-- END MY LOADS -->
</head>
<body>
<header>
</header>
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>
<div class="page">
  <div class="userinfo" 
    ="StatusController" ng-show="currentUser">
    <span clng-controllerass="userinfo">Hi {{ currentUser.firstname }}</span>
    <a ng-href="#/logout" ng-click="logout()">logout</a>
  </div><!-- userInfo block -->
  <ui-view></ui-view>
</div>
<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Elections</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</script>
<script type="text/ng-template" id="/election-select.html">
  <section>
  <body ng-controller="ElectionSelectController as ElexViewCtrl">
    <h1 class="text-center">All Elections<br/></h1>
    <button type="button" ng-click="newElection()" class="add btn btn-default">New Election</button>
      <section ng-repeat="e in listElections"  class="row text-center elex">
        <h2 class="text-center">
        {{e.electionName}}
        <small>{{e.electionDate | date}}</small></h2>
        <h3><a class="label label-primary" ng-href="#/edit/{{e._id}}">Edit</a>
        <a class="label label-info" ng-href="#/elections/{{e._id}}">Preview</a>
        <a class="label label-success" ng-href="#/elections/{{e._id}}">Embed</a>
        </h3>
        <h4><button class="btn btn-danger" ng-click="removeElection($index)">DELETE</h4>
      </section> 
  </section>
</script>
<script type="text/ng-template" id="/election-form.html">
<div class="container">
  <form class="oneElex" name="ElexForm1" id="elex1" novalidate>
  <div class="topBar row">
  <div class="form-group">
      <div class="input-group col-sm-5">
                <input id="elexName" type="text" ng-model="ele.electionName"/>
      </div>
      <div class="input-group col-sm-3">
                <label for="elexPrecinctsRep">Precincts Reporting</label>
                <input id="elexPrecinctsRep" type="text" ng-model="ele.precinctsRep"/>
      </div>
      <div class="input-group col-sm-3">
            <label for="elexPrecinctsTotal">Total Precincts</label>
            <input id="elexPrecinctsTotal" type="text" ng-model="ele.precinctsTotal"/>
      </div>
      <div class="col-sm-1">
      <button type="button" ng-click="addRace()" class="add btn btn-default">Add Race</button><button ng-click="updateElection()" class="btn btn-success" >Update</button>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-12 col-md-3">
  <section class="col-sm-3 col-md-12" ng-repeat="r in races">
    <h3 class="pull-left">
      <a ng-click="setRace($index)">
        {{r.raceName}}
      </a>
      <small class="pull-left">
      {{r.updated | date:'medium'}}
        <div class="btn-group pull-left text-center">
          <a class="btn btn-info" ng-click="setRace($index)"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-danger" ng-click="removeRace($index)"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
      </small>
    </h3>
  </section>
  </div>
  <div class="col-sm-12 col-md-9">
   <div class="jumbotron" ng-show="activeRace === 'waiting'">
      <h1>Editing {{ele.electionName}}</h1>
      <p>Choose a race to the left or<a class="btn btn-success" ng-click="addRace()">ADD RACE</a> to get started.</p>
      <p><a class="btn btn-primary btn-lg" href="/#/elections">GO BACK »</a></p>
    </div>
    <section ng-repeat="r in races">
    <div ng-show="activeRace === $index" class="race">
    <button class="removeRace btn btn-danger" type="button" ng-click="removeRace($index)">Remove Race</button>
        <div class="form-group">
          <div class="input-group">
            <label for="raceName">Race Name</label>
            <input id="raceName" type="text" ng-model="r.raceName"/>
          </div>
          <div class="input-group">
            <label for="raceSeats">Seats</label>
            <input id="raceSeats" type="number"  ng-model="r.raceSeats"/>
          </div>
          <div class="input-group">
            <label for="allVotes">Total Votes</label>
            <input id="allVotes" type="number" disabled ng-model="r.allVotes"/>
          </div>
          <div class="input-group">
            <label for="updatedTime">Last Update</label>
            <input id="updatedTime" type="text" disabled ng-model="r.updated"/>
          </div>
        </div>
          <h1>Candidates<button type="button" ng-click="addCandidate($index)" class="addCandidates btn btn-success btn-lg"><span class="glyphicon glyphicon-plus-sign"></span></button></h1>
          <div class="oneElexCands">
            <div class="oneCandidate input-group" ng-repeat="can in r.candidates">
              <label for="candidateFirstName">First Name</label>
                <input class="candidateFirstName" placeholder="Enter Candidate info" ng-model="can.firstName" type="text" />
              <label for="candidateLastName">Last Name</label>
                <input class="candidateLastName" ng-model="can.lastName" type="text" />
              <label class="candidateParty">Party</label>
                <input id="candidateParty" ng-model="can.party" type="text" />
              <label for="candidateVotes">Votes</label>
                <input class="candidateVotes" ng-model="can.voteTotal" type="number" />
              <button class="removeCandidate btn btn-danger" type="button" ng-click="removeCandidate($parent.$index,$index)">Remove This Candidate</button>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>
  </div>
</section>
</script>
<script type="text/ng-template" id="/forgot.html">
  <div class="page-header">
    <h1>Elections App</h1>
    <h2>Forgot Password</h2>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="forgotPw()"
    style="margin-top:30px;">
      <div class="form-group">
        <input type="email"
        class="form-control"
        placeholder="Email"
        ng-model="user.email"></input>
      </div>    
      <button type="submit" class="btn btn-primary">email me</button>
  </form>
</script>
<script type="text/ng-template" id="/reset.html">
<section ng-controller="ResetCtrl">
  <div class="page-header">
    <h1>Elections App</h1>
    <h2>Reset Password</h2>
  </div>
  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>
  <p>Use the form below to reset the password for<em>{{user.username}}</em></p>
  <form ng-submit="resetPass()"
    style="margin-top:30px;">

    <h3>Reset password</h3>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="New Password"
        ng-model="user.newPassword"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Confirm New Password"
        ng-model="user.confirmNewPassword"></input>
      </div>  
      <button type="submit" class="btn btn-primary">reset pw</button>
  </form>
  </section>
</script>
<script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>Elections App</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="email"
      class="form-control"
      placeholder="Email"
      ng-model="user.email"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</script>
<script type="text/ng-template" id="/races.html">
  <section> 
    <style>
      .one_race{
        border: 2px solid rgba(224,224,224,1);
        margin:20px 0px;
        padding:10px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        -webkit-box-shadow: -8px 5px 17px 0px rgba(50, 50, 50, 0.31);
        -moz-box-shadow:-8px 5px 17px 0px rgba(50, 50, 50, 0.31);
        box-shadow:-8px 5px 17px 0px rgba(50, 50, 50, 0.31);
      }
      .win{font-size:2em;
        color:green;}
    </style>
    <body ng-controller="ElectionFrontEndController as raceViewCtrl">
      <h1 class="text-center">{{elex.electionName}}<br/>
      <small class="precints">PRECINTS REPORTING: <span>{{elex.precinctsRep}} / {{elex.precinctsTotal}}<span class="label label-info"> {{(elex.precinctsRep/elex.precinctsTotal) | percentage:1}} %</span></span></small><br/>
      <small class="precints">UPDATED: <span>{{elex.electionDate | date}}</span></small>
      </h1>
        <section ng-repeat="r in races"  class="one_race row text-center">
          <h2 class="text-center">{{r.raceName}} <small>{{r.allVotes | number}} votes counted</small></h2>
            <div class="candidates">
              <div ng-repeat="candidate in r.candidates | orderBy:'-voteTotal'" class="one_cand col-sm-6">
                <div class="cand_name">
                  <h3>
                    <STRONG>{{candidate.firstName + " " + candidate.lastName}}</STRONG><small> {{candidate.party}}</small>
                  </h3>
                </div><!-- cand_name -->
                <div class="percent progress">
                    <div class="progress-bar progress-bar-danger percentage-bar" role="progressbar" aria-valuenow="{{(candidate.voteTotal / r.allVotes)*100 | percentage:1 }}" aria-valuemin="0" aria-valuemax="100" ng-style="{'min-width': '2em', 'width': (candidate.voteTotal / r.allVotes | percentage:0) +'%'}">
                    {{candidate.voteTotal / r.allVotes | percentage:0}} %
                  </div>
                </div><!-- .percent .progress -->
                <div class="votes">
                  <h4>
                    {{candidate.voteTotal | number}} / {{r.allVotes | number}} votes
                  </h4>
                </div><!-- votes -->
              </div><!-- one_cand -->
            </div>
        </div><!-- one_race -->
      </div> <!-- container -->
    </section>
</script>

</body>
</html>