<section class="new-elex">
	<form class="oneElex" name="ElexForm1" id="elex1" action="" ng-submit="addRace()" novalidate>
		<div class="form-group">
			<label for="raceName">Race Name</label>
			<input id="raceName" type="text"  ng-model="raceName"/>
		</div>
		<div class="form-group">
			<label for="raceSeats">Seats</label>
			<input id="raceSeats" type="number"  ng-model="raceSeats"/>
		</div>
		<div class="form-group">
			<label for="precinctsRep">Precincts Reporting</label>
			<input id="precinctsRep" type="number" ng-model="precinctsRep" />
		</div>
		<div class="form-group">
			<label for="precinctsTotal">Total Precincts</label>
			<input id="precinctsTotal" type="text"  ng-model="precinctsTotal "/>
		</div>
		<div class="form-group">
			<label for="isOver">Is the race over?</label>
			<input id="isOver" type="checkbox"  ng-model="isOver"/>
		</div>
		<div class="form-group">
			<label for="allVotes">Total Votes</label>
			<input id="allVotes" type="number" disabled ng-model="totalVotes"/>
			<button id="calcVotes" type="button" class="btn btn-primary">Calculate Total</button>
		</div>
		<div class="form-group">
			<label for="updatedTime">Last Update</label>
			<input id="updatedTime" type="text" disabled ng-model="updated"/>
		</div>
		<h1>Candidates</h1>
		<button type="button" id="addCandidates_elex1" class="addCandidates btn btn-default">Add Candidate</button>
		<div class="oneElexCands"></div>
		<button type="submit" onclick="toJson();" id="submitRace" class="btn btn-success" ng-disabled="myform.$invalid">Update race</button>
		</form>


		<div id="updatedELection"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript">	
		$(document).ready(function() {
		    var canWrapper         	= $(".oneElexCands"); //Fields canWrapper
		    var addButton      		= $(".addCandidates"); //Add candidate button ID
		    var removeButton 		= $(".removeCandidate"); // remove candidate button class
		    var canCount 			= 100; //initlal text box count
		    var allRaceCands		= []; // array all candidates in race for calculations
		    var totalVoteCount		= ""; 
		    $(addButton).click(function(e){ //on add input button click
		        e.preventDefault();
		        canCount++; //text box increment
		        $(canWrapper).append('<div id="candidate_'
		      	+ canCount +
		      	'"class="oneCandidate form-group">'+
		      	'<label for="candidateId">Id</label>'+
				'<input id="candidateId" type="number" value="'
				+ canCount +
				'" disabled/>'+
				'<label for="candidateFirstName">First Name</label>'+
				'<input id="candidateFirstName" type="text" />'+
				'<label for="candidateLastName">Last Name</label>'+
				'<input id="candidateLastName" type="text" />'+
				'<label for="candidateParty">Party</label>'+
				'<input id="candidateParty" type="text" />'+
				'<label for="candidateVotes">Votes</label>'+
				'<input id="candidateVotes" type="number" />'+
				'<button class="removeCandidate" type="button" class="btn btn-danger">'
				+'Remove This Candidate</button></div>');
		    });
		$(canWrapper).on("click",'.removeCandidate', function(e){ //user click on remove text
		    e.preventDefault();
		        if (confirm("Are you sure you want to delete ths candidate? \n THIS CANNOT BE UNDONE!")){ 
			        $(this)
			        .parent('div.oneCandidate')
			        .remove();
			        canCount--
		    	};
			});
		}); //document ready
	</script>
		<script>
		var toJson = function(){
		var serialize = require('form-serialize');
		var form = document.querySelector('#elex1');

		var elex1Obj = serialize(form, {hash:true, disabled:true, empty:true});
		console.log(elex1Obj);
	}; //toJson function turns form input to json object

	</script>
</section>